<!DOCTYPE html>
<html>
  {{{ common.head }}}
  <body lang="en">
    {{{ common.navbar }}}
    <div class="container">
      <h1>About Me</h1>
      <p>Currently working as a software engineer. In my spare time, I enjoy going outside, reading, and organizing my home.</p>
      <p>Github: <a class="custom-link" href="https://github.com/esdrw">@esdrw</a></p>
      <p>Twitter (rather dead): <a class="custom-link" href="https://twitter.com/etawang">@etawang</a></p>
    </div>
  </body>
</html>
